* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/banner.png);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}
nav img {
  width: 10%;
  margin-top: 5px;
  margin-left: 2%;
  filter: drop-shadow(2px 3px);
}
.nav-links a {
  list-style: none;
  display: inline-block;
  margin: 20px 30px 0;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.btn1 {
  padding: 8px 20px;
  margin-right: 60px;
  border-radius: 20px;
  background: #fff;
  border: #fff;
}

.btn1 a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.container {
  padding: 0 7%;
}

.container h1 {
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  margin-top: 17%;
  color: #fff;
  font-style: italic;
  padding: 22px;
}

.search-bar {
  background: #fff;
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
}

.search-bar form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar form input {
  display: block;
  border: white;
  outline: none;
  background: transparent;
}

.search-bar form button {
  background: rgba(230, 96, 7, 0.849);
  border: 0;
  border-radius: 50%;

  width: 45px;
  height: 45px;
  cursor: pointer;
}

.location {
  flex: 1;
}

.search-bar form label {
  font-weight: 550;
}
.title2 {
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: #333;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.images img {
  width: 100%;
  border-radius: 10px;
}

.images div {
  position: relative;
}

.images div span {
  position: absolute;
  top: 30px;
  right: 90px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.images div p {
  position: absolute;
  top: 60px;
  right: 90px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

/*trending place*/

.trending-place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin: 30px 90px 70px;
}
.trending-place img {
  width: 100%;
  border-radius: 10px;
}
.title3 {
  margin: 50px 90px 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: black;
}

.trending-place h2 {
  font-weight: 400;
  margin-top: 10px;
}

/*-------call to functionn---------*/

.cta {
  margin: 80px;
  background-image: linear-gradient(to top right, #3f2321, transparent),
    url(./images/banner-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: #fff;
}

.cta h3 {
  font-weight: 400;
  font-size: 43px;
  line-height: 5.3vw;
}

.cta p {
  margin: 10px;
  font-size: 18px;
}

.cta button {
  margin: 10px;
  padding: 8px 17px;
  background: #ff5361;
  border: none;
  border-radius: 5px;
}

.cta a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
}

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin: 30px 80px 70px;
}

.stories img {
  width: 100%;
  border-radius: 10px;
}

.stories div {
  position: relative;
  text-align: center;
}

.stories p {
  position: absolute;
  width: 80%;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}

.st-btn button {
  margin: 10px 0 50px;
  margin-left: 38%;
  padding: 15px 30px;
  background: #ff5361;
  border: none;
  border-radius: 30px;
  width: 300px;
}
.st-btn a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.about-msg {
  text-align: center;
}
.about-msg h2{
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
}
.about-msg p{
 padding: 10px 80px 20px 80px;
}
.footer{
  margin: 80px 0 10px;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: #999;
  font-size: 22px;
  margin: 0 10px;
}
.footer hr{
background: #999;
height: 1px;
width: 100%;
margin: 20px 0;

}